{% extends "::base.html.twig" %}

{% block title %}Mi formulario{% endblock %}

{% block body %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Llena el formulario</h1>

		{{ form(form) }}
	</div>
</div>
{% endblock %}
